<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase}}</h1>
</div>

<button pButton type="button" class="p-button-raised p-button-rounded p-button-help" icon="pi pi-check" iconPos="right"
  (click)="mostrarNombre()" label="Cambiar
  nombre"></button>

<p-card [header]="nombre | titlecase" subheader="este es el subtítulo">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti minus inventore labore est deleniti laudantium,
  vero minima quam molestiae animi incidunt tempore illo tenetur sequi nobis facilis itaque commodi rem!
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>